

<main role="main">


  <div class="jumbotron" style="background-image: url('https://fintechnews.my/wp-content/uploads/2020/07/Bursa-Malaysia-Co-Developing-Blockchain-Powered-Bonds-Marketplace-with-Singapore%E2%80%99s-Hashtacs--1440x564_c.jpg')">
    <div class="container">
      <h1 class="display-3">Watch Live Trader Trade</h1>
      <p>The Fastest, Most Effective and Profitable Way For Beginners.</p>
      <p><a class="btn btn-primary btn-lg" href="promo" role="button">Sign Up Now &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>RM 2,310 Profit </h2>
        <p><iframe width="280" height="160" src="https://www.youtube.com/embed/FHt8_RrxgTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></p>
        <p><a class="btn btn-secondary" href="#" role="button">Watch 18th Nov Trade &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>RM 869 Profit</h2>
        <p><iframe width="280" height="160"  src="https://www.youtube.com/embed/FHt8_RrxgTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <p><a class="btn btn-secondary" href="#" role="button">Watch 19th Nov Trade &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>RM 8,790 Profit</h2>
        <p><iframe width="280" height="160"  src="https://www.youtube.com/embed/FHt8_RrxgTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <p><a class="btn btn-secondary" href="#" role="button">Watch 20th Nov Trade &raquo;</a></p>
      </div>
     </div>   
        
    <hr>
 </div> 

   <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>RM 1,610 Negative </h2>
        <p><iframe width="280" height="160" src="https://www.youtube.com/embed/FHt8_RrxgTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe></p>
        <p><a class="btn btn-secondary" href="#" role="button">Watch 13th Nov Trade &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>RM 3,390 Profit</h2>
        <p><iframe width="280" height="160"  src="https://www.youtube.com/embed/FHt8_RrxgTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <p><a class="btn btn-secondary" href="#" role="button">Watch 16th Nov Trade &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>RM 650 Negative</h2>
        <p><iframe width="280" height="160"  src="https://www.youtube.com/embed/FHt8_RrxgTc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <p><a class="btn btn-secondary" href="#" role="button">Watch 17th Nov Trade &raquo;</a></p>
      </div>
     </div>   
        
    <hr>
 </div> 

</main>

