
 <div class="container">


  <div class="container marketing">
<style>
div {
  padding: 10px;
  
}
</style>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">

    	<style>
div {
  padding: 10px;
  
}
</style>
      <div class="col-md-7">
        <h2 class="featurette-heading">Streamer <span class="text-muted">Wonder Woman</span></h2>
        <p class="lead">Legendary Trader with Winning Rate over 89%!</p>
      </div>
      <div class="col-md-5">
        <%= link_to image_tag("wonder.jpg" ,width:"500", height: "300"), wonder_path %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Streamer <span class="text-muted">Batman</span></h2>
        <p class="lead">Millionaire Trader with Winning Rate over 75% !</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= link_to image_tag("batman.jpg", width:"500", height: "300"), batman_path %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly,  <span class="text-muted">Superman</span></h2>
        <p class="lead">An Ordinary Trader with Winning Rate around 62% !</p>
      </div>
      <div class="col-md-5">
      <%= link_to image_tag("superman.jpg" , width:"500", height: "300") , root_path%>
      </div>
    </div>

</div>